<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/spacelab/bootstrap.min.css"
        integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc" crossorigin="anonymous">
    <title>Inventario</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Inventario App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center">
        <div>
            <h1 th:if="${producto.id == null}">Agregar producto</h1>
            <h1 th:unless="${producto.id == null}">Editar producto</h1>
        </div>
        <div>
            <form th:action="@{/productos/guardar}" th:object="${producto}" method="post"
                style="max-width: 600px; margin: 0 auto;">
                <input type="hidden" th:field="*{id}" th:value="${producto.id}" />
                <div class="m-3">
                    <div class="form-group row">
                        <label for="txtNombreProducto" class="col-form-label col-sm-4">Nombre de producto:</label>
                        <input id="txtNombreProducto" class="col-sm-8 form-control" type="text" th:field="*{nombre}"
                            required>
                    </div>
                    <div class="form-group row">
                        <label for="txtPrecioProducto" class="col-form-label col-sm-4">Precio del producto:</label>
                        <input id="txtPrecioProducto" class="col-sm-8 form-control" type="text" th:field="*{precio}"
                            required>
                    </div>
                    <div class="form-group row">
                        <label for="txtCategoriaProducto" class="col-form-label col-sm-4">Categoria:</label>
                        <select id="txtCategoriaProducto" class="form-control col-sm-8" th:field="*{categoria}"
                            required>
                            <th:block th:each="categoria:${listaCategorias}">
                                <option th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>